.description-card {
  background-color: white;
  height: 250px;

}
.bio-card {

  width:400px;
  word-wrap: break-word;

}
.icons-cat {
  width: 400px;

}
.alto-iconos {
  margin: 0px;
}
.cards  {
padding: 0px;
border-radius: 16px;


}
body {
  background-color: white;
}
.img-bio img {
  height: 100%;
}
