// Specific CSS for your home-page

.banner {
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 600px;
    align-items: center;
    justify-content: center;
}


.value-proposition {
  margin-bottom: 100px;
}


.value-proposition h1 {

    color: white;
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;

}

.value-proposition p {
    color: white;
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
}


.chefs-container {
  margin-left: 60px;
  margin-right: 60px;
}

.chefs {
  margin-top: 50px;
}

.chefs h1 {
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 26px;
}


.chefs p {
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 19px;
}

.ver-chefs {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}

.card-deck {
  flex: none;
  justify-content: space-between;
}

.card-chef {

   height: 420px;
   width: 200px;
   border-radius: 15px;
}

.card img{
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
