// Specific CSS for your home-page
@font-face {
   font-family: 'Gilroy-ExtraBold';
   src: url('/assets/fonts/Gilroy-ExtraBold.otf')
}


.banner {
  background-color: #f1f7f4;
  background-position: left;
  background-size: cover;
  position: relative;
  padding: 13% 0;
  overflow: hidden;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.content.center-column {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
  position: relative;
  z-index: 1;
  bottom: 30px;

  h1 {
  color: white;
  text-align: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  width: 72%;
  margin: 0 auto 20px;
}

  p {
  color: white;
  font-family: 'GT Walsheim Pro';
  font-style: medium;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

}

.video-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}


.banner:after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent !important;
    background: black !important;
    opacity: 0.35 !important;
    top: 0;
}


.search-chef {
  margin: 0 auto;
  width: 750px;
  height: 80px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 15px;
}

.comensales {
  text-align: left;
  margin-top: 5px;
  h5 {
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin-bottom: 6px;
  }
  span {
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    color: rgb(105, 105, 105);
  }
}

.donde {
  text-align: left;
  border-right: solid 1px rgb(190, 190, 190);
  width: 200px;
  margin-left: 20px;
  margin-top: 5px;
  h5 {
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin-bottom: 6px;
  }
  span {
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    color: rgb(105, 105, 105);
  }
}


.search-icon i {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 50%;
}

.chefs-container {
  margin-left: 60px;
  margin-right: 60px;
}

.chefs {
  margin-top: 50px;
}

.chefs h1 {
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 28px;
  span {
    color: #7AD7A7;
  }
}


.chefs p {
  font-family: 'GT Walsheim Pro';
  font-style: medium;
  font-weight: normal;
  font-size: 17px;
}

.ver-chefs {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}

.card-deck {
  flex: none;
  justify-content: space-between;
}

.card-chef {
   height: 420px;
   border-radius: 15px;
}

#avatar-res {
height: 40px;
 width: 40px;
    border-radius: 50%;
}
.card img{
  height: 280px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}


.card2 img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
}

.navbar-lewagon {
  background-color: white;
}


.logsign-container {
  display: flex;
}

.btn-light {
  border-radius: 25px;
  font-weight: 600;
}


.boton-signup-navbar {
    display:inline-block;
    padding: auto 10px;
    display: block;
    width: 140px;
    height: 40px;
    background: #19BB73;
    padding-top: 8px;
    text-align: center;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    font-size: 0.85rem;
    transition: all 0.3s ease-out;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(46, 46, 46);
    font-weight: bold;
}

.nav-link  {
  color: white;
}

.options-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: grey;
}

.nav-item{
  transition: 0.8ms;
}

.navbar-light .navbar-brand {
    margin-left: 40px;
}

.boton-signup-navbar:hover {
  background-color: #7AD7A7;
  text-decoration: none;
  color: white;
}

.boton-chef-login-navbar {
  transition: all 0.3s ease-out;
  font-size: 0.85rem;
  color: white;
}

.search-box {
  position: absolute;
  top: 50%;
  right: 330px;
  transform: translate(-50%, -50%);
  background: white;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  border: solid 0.8px #8b8b8b;
}
.form-nav {
  margin-right: 167px;
}
.search-btn {
  color: white;
  height: 25px;
  border-radius: 50%;
  transition: 0.4s;
  position: absolute;
  top: 7px;
  right: 15px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0%;
  color: black;
  font-size: 14px;
  transition: 0.4s;
  margin-left: 5px;
  position: relative;
  left: 5px;
  bottom: 1px;
}


#navbar-dashboard {

  position: sticky;
  top: 0;
  background-color: black;
  padding-right: 0px;
  color: white;
  border-top: solid 1px white;
  height: 100vh;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}


.nav-link {
  margin-left: 5px;
  font-family: 'GT Walsheim Pro';
  font-style: medium;
  font-weight: bold;
  font-size: 15px;
}

#dashboard-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#my-reservations-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-top: 20px;
  width: 650px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-size: cover;
  opacity: .8;
  transform: scale(0.9);
  transition: .8s;
}

#my-reservations-card:hover {
  opacity: 1;
  transform: scale(1.01);
  text-decoration: none;
}

#resevation-card1:hover {

text-decoration: none;
transform: scale(1.1);
}
.res-container a:hover {
  text-decoration: none;
}
.how-it-works {
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;

  h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
      span {
      color: #7AD7A7;
      }
  }

  p {
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: normal;
    font-size: 18px;
  }
}

.steps {
  display: flex;
  justify-content: space-around;
}

.step {
  text-align: center;

  img {
    height: 190px;
    margin-bottom: 5px;
  }

  h4 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    text-align: center;
    margin-top: 30px;
  }

  p {
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: normal;
    font-size: 16px;
  }
}

.chef-platform {
  width: 100%;
  height: 534px;
  background-color: rgb(243, 243, 243);
  margin-top: 130px;
  padding-top: 50px;
}

.chef-customer-platform {
  margin-top: 10px;

  h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    text-align: center;


    span {
      color: #7AD7A7;
    }
  }

  p {
    color: rgb(68, 68, 68);
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    width: 53%;
    margin: 15px auto 43px;
  }
}

.chefs-img {
  display: flex;
  justify-content: center;
  transform: scale(80%);
}

.dish-of-the-day {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: rgb(230, 229, 229);
  align-items: center;

}

.dish-container {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  video {
    height: 300px;
    border-radius: 15px;
  }
}

.dish-info {
  h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
  }
  span {
    color: #7AD7A7;
  }
  h4 {
    color: rgb(44, 44, 44);
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: normal;
    font-size: 26px;
  }
  p {
    color: rgb(56, 56, 56);
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: normal;
    font-size: 19px;
  }
}

.btn-dark {
  font-family: 'GT Walsheim Pro';
  font-style: medium;
  font-weight: 700;
  font-size: 17px;
}
body {
  font-family: 'GT Walsheim Pro';
  h1, h2, h3, h4, h5 {
    font-family: 'GT Walsheim Pro';
  }
}
.btn {
  border-radius: 25px;
  background: #7AD7A7;
  border-color: #7AD7A7;
}

footer {
    padding: 65px 12px;
    background-color: #231f20;
    position: relative;
    color: #ffffff;
    display: block;
}

footer .row {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
}

footer .flex-start {
    width: 80%;
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

footer .flex-start .column-wrapper {
    display: flex;
}

footer .flex-start .column-wrapper .column-footer {
    width: 25%;
    text-align: right;
}

footer .row .ul-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .row .ul-footer li {
    margin-top: 15px;
    text-align: left;
}

footer .row .ul-footer li a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}

footer .flex-start .column-wrapper .column-footer {
    width: 25%;
    text-align: right;
}

footer .flex-start .flex-row {
    display: flex;
    margin-top: 40px;
}

footer .flex-start .flex-row .footer-cu {
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
}

footer .flex-start .flex-row .row.with-flex {
    display: flex;
}

footer .flex-start .flex-row .row {
    align-items: flex-start;
    padding: 0;
}

footer .flex-start .flex-row .row.with-flex p {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 0 0 28px;
}


footer .flex-start {
    width: 80%;
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

footer .flex-end {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

footer .row .ul-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
