
<div class="container">
  <h1>Reserva</h1>
</div>

<div class="card">
  <div class="card-body">
  <% @selected_dishes.each do |selected| %>

  <% @dishes.each do |dish| %>

    <%= dish.title if dish.id == selected.dish_id %>
  <% end %>
<% end %>
    <h3 class="card-title"> Cliente: <%= @reservation.user_id %></h3>
    <p class="card-text"> Fecha de la reserva:<%= @reservation.reservation_date %> </p>
    <p class="card-text"> Observaciones del cliente:<%= @reservation.observations %></p>
  </div>
</div>
