.banner {
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 600px;
    align-items: center;
    justify-content: center;
}


.value-proposition {
  margin-bottom: 100px;
}


.value-proposition h1 {

    color: white;
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;

}

.value-proposition p {
    color: white;
    font-family: 'GT Walsheim Pro';
    font-style: medium;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
}


.chefs {
  margin-top: 50px;
  margin-left: 40px;
}

.chefs h1 {
font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 26px;
}


.chefs p {
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 19px;
}

.ver-chefs {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}
