
@font-face {
   font-family: 'Gilroy-ExtraBold';
   src: url('/assets/fonts/Gilroy-ExtraBold.otf')
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
