.sign-up-container {
  display: flex;
  background-color: white;
}

.sign-up-banner {
  width: 40%;
  img {
    width: 100%;
    object-fit: cover;
  }

}

.sign-up-form {
  align-items: center;
  margin: 0 auto;
}


.form-inputs {
  width: 350px ;
}

.btn-signup {
  width: 100%;
  height: 50px;
}

.button.is-rounded {
  background-color: #29d884;
}
